<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.png"
             class="img-responsive center-block"
             style="max-height:500px;padding-bottom:20px" />
      </div>
      <div class="mb-5 text-center " >
        <h5 class="text-info">Beste lezer,</h5>
        <span class="text-danger">
        Mijn huidige Angular-project is nog in ontwikkeling en nadert
          voltooiing. Ondanks mijn enthousiasme moeten er nog enkele stappen worden gezet.
        </span>

      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Mohammad Ali</h3>
      </div>
    </div>
  </div>
</div>
